body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #999;
    color: #000;
    margin-top: 100px;
}

button {
    padding: 8px 15px;
    border: none;
    background-color: #444;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #222;
}
